// == my_tebuy
// -------------------------
//
.profile {
    height: 200px;
    .block {
        height: 100%;
    }
}

.profile-header {
    background-image: url("images/patterns/mask.png");
}

.profile-title {
    margin-bottom: 20px;
}
