// == shop cart
// -------------------------
//

.cart-num {
    padding: 0 10px;
    background: $watermelon;
    color: $white;
}

.cart-checkout-box {
    height: 44px;
    background: $gray-lighter;
}

.cart-checkout-item {
    @include vertical-align();
    .product-amount {
        font-size: 20px;
    }
}

.shop-cart-header {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
    @extend .bg-white;
}

.step-flow-list {
    margin-bottom: 30px;
}

.glyphicon-trash {
    cursor: pointer;
    &:hover {
        color: $watermelon;
    }
}
