// == banner
// ----------------------------------
//

// menu bannner & barnd bar
.nav-menu-banner-wrap {
    @include box-shadow(0 1px 2px 0 $gray-light);
    position: relative;
    margin-bottom: 20px;
    height: $nav-menu-banner-height;
    letter-spacing: 1px;
    line-height: 2em;
    font-size: 18px;
    .nav-menu-banner {
        overflow: hidden;
        height: $nav-menu-banner-height;
    }
    .brand-logo {
        @extend .text-shadow-default;
        display: block;
        overflow: hidden;
        bottom: 10px;
        margin-left: 20px;
        letter-spacing: $letter-spacing-base;
    }
    .brand-bar {
        .brand-title {
            @extend .text-shadow-default;
            margin: -60px 210px;
        }
        > img {
            width: 15%;
        }
        > .pull-right {
            @extend .text-shadow-default;
            right: 0;
            margin: -150px 20px;
            .product-ratings strong {
                color: $white;
            }
        }
        .nav {
            margin-left: 200px;
        }
    }
}

.l-banner-group {
    margin: 30px 0;
}

.l-banner-item {
    margin-bottom: 20px;
}